body {
    text-align: center;
    margin: auto;
    padding: 10%;
    font-family: Arial, Helvetica, sans-serif;
    
}
h1 {
  font-size: 600%;
  margin-top: 150px;
  animation: fadeIn ease 2.5s;
-webkit-animation: fadeIn ease 2.5s;
}

h3 {
    font-size: 300%;
}

h4 {
    font-size: 250%;
    animation: fadeIn ease 2.8s;
-webkit-animation: fadeIn ease 2.8s;
}
p {
    font-size: 200%;
}

img {
    height: 30%;
    width: 30%;
    border-radius: 50%;
    margin: 5%;
    margin-top: 250px;
    padding: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input {
    height: 50px;
    width: 600px;
    padding: 15px;
    margin: 15px;
    text-align: center;
    font-size: large;
}

button {
    font-size: large;
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
    width: 200px;
}

.fade-in {
    animation: fadeIn ease 2.5s;
    -webkit-animation: fadeIn ease 2.5s;
    -moz-animation: fadeIn ease 2.5s;
    -o-animation: fadeIn ease 2.5s;
    -ms-animation: fadeIn ease 2.5s;
    }

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }